@using Trips.Models
@using Trips.ViewModels



<head>
    <style>
        h2 {
            font-family: 'Dancing Script', cursive;
            color: #343a40;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h2 data-aos="fade-up">Quick Tour</h2>
    <div>
        <iframe width="752" height="480" src="https://www.youtube.com/embed/JphHw6iU4m8" title="Experience Venice’s Spectacular Beauty in Under 4 Minutes | Short Film Showcase" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</body>